<!DOCTYPE html>
<html lang="en">
<head>
  <title>DevCon Happening</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <!-- <link rel="icon" type="image/x-icon" href="css/e_nDl_icon.ico"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>

    <% include partial/nav %>

    <main>

      <div class="container">

        <div class="section wrapper center-align">
          <h1><%= count %></h1>
          <h4>participants</h4>
        </div>

        <div class="section">
          <table class="striped">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Telegram ID</th>
                  <th>Website URL</th>
                  <th>Github</th>
              </tr>
            </thead>

            <tbody>
              <% attendees.forEach(function(attendee) { %>
                <tr>
                  <td><%= attendee.name %></td>
                  <td><%= attendee.email %></td>
                  <td><%= attendee.skills %></td>
                  <td><%= attendee.github %></td>
                  <td>
                    <% if(attendee.checkin == 'NONE') {%>
                        <b class="alert">None</b>
                    <% } else if(attendee.checkin == 'CHECKIN') {%>
                        <b class="info">Check-In</b>
                    <% } else if(attendee.checkin == 'WALKIN') {%>
                        <b class="warning">Walk-In</b>
                    <% } %>

                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>


      </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>

    </script>
</body>
</html>
